
/* --------------------------------

Theme styling

-------------------------------- */

body, html {
	font-family: $primaryFont;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $backgroundColor;
}

.app-background {
	height: 100vh;
	// Custom variable --vh will be set via Javascript
	// vh units will not take into account browser url bar on mobile
	height: calc( var(--vh, 1vh) * 100 );
	background-color: $backgroundColor;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	max-width: $maxWidth;
	margin: 0 auto;
	background: $backgroundColor;
	text-align: center;
	overflow: hidden;
}

.page-container {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	@include translateY(-50%);;
    height: 100%;
}


/*
 	Header
*/
.header-top {
	height: $headerTopHeight;
	line-height: $headerTopHeight;
	background-color: $backgroundColor;
	text-align: center;

	.back-icon {
		display: inline-block;
		position: absolute;
		left: 0;
		line-height: 3*$margin;
		padding: 0 $margin;

		img {
			height: 20px;
		}
	}

	.header-logo {
		height: 35px;
	}
}

.header-bottom {
	height: $headerBottomHeight;
	line-height: $headerBottomHeight;
	background-color: $darkBlue;
	text-align: left;
	padding-left: 25px;
	color: white;
	font-size: 15px;
	font-weight: 300;
}

/*
 	Categories
*/
.category-container {
	display: flex;
	flex-direction: column;
	// Fallback for browsers which don't support custom properties
	height: calc( 100vh - #{$headerTopHeight + $headerBottomHeight + $footerHeight} );
	height: calc( var(--vh, 1vh) * 100 - #{$headerTopHeight + $headerBottomHeight + $footerHeight} );
	min-height: 300px;
	position: relative;

	.vertical-layout-link {
		position: relative;
		flex: 1;
		display: inline-block;
		color: white;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border-bottom: 6px solid $darkBlue;
		overflow: hidden;

		&:hover {
			text-decoration: none;
			color: white;
		}
	}

	.vertical-layout-text {
		position: absolute;
		top: 50%;
		font-size: 52px;
		line-height: 52px;
		margin-top: -26px;
		width: 100%;
		text-align: center;
		@include text-shadow( 0px 2px 3px rgba(0,0,0,0.5) );

		.chevron {
			font-size: 52px;
		}

		&.single {
			width: initial;
			top: initial;
			bottom: 2*$margin;
			left: $margin;
		}
	}

	&.home {

		.vertical-layout-link {

			// hide bottom border for last element on homepage
			&:last-child {
				border-bottom: none;
			}
		}
	}

	&.list {
		// Fallback for browsers which don't support custom properties
		height: calc( 100vh - #{$headerTopHeight + $headerBottomHeight} );
		height: calc( var(--vh, 1vh) * 100 - #{$headerTopHeight + $headerBottomHeight} );
	}

	&.single {
		// Fallback for browsers which don't support custom properties
		height: calc(100vh - #{$headerTopHeight + $headerBottomHeight});
		height: calc( var(--vh, 1vh) * 100 - #{$headerTopHeight + $headerBottomHeight} );

		display: block;
		width: 100%;
		flex-direction: initial;
		overflow: auto;

		.vertical-layout-link {
    		width: 100%;
    		height: auto;
    		position: relative;
    		top: 0;
    		left: 0;
    		cursor: default;

    		.inner-image {
    			width: 100%;
    		}
		}
	}
}

	.category-position {
		position: absolute;
		width: auto;
		height: 27px;
		max-width: 120px;
		font-size: 14px;
		line-height: 19px;
		color: $white;
		font-weight: 300;
		border: none;
		background-size: 23px 27px;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 2*$margin;
		cursor: pointer;
		text-align: left;

		&.reverse {
			max-width: 180px;
			background-position: right center;
			padding-left: 2*$margin;
			padding-right: 2*$margin;
			@include translateX(-100%);
		}
	}


/*
	Footer
*/
.footer-container {
	position: absolute;
	bottom: 0;
	height: $footerHeight;
	line-height: $footerHeight;
	background-color: $blue;
	@include transition(all 1.0s);

	.footer-information {
		position: relative;
		display: inline-block;
		width: 280px;
		height: 35px;
		padding: 0;
		margin: 0 auto;
		margin-top: 13px;

		.footer-logo {
			position: absolute;
			left: 25px;
			top: 4px;
			width: 230px;
		    height: 35px;
		    z-index: 10;
		    @include transition(all 0.6s);
		}

		.footer-text {
			position: absolute;
			left: 25px;
			width: 235px;
			z-index: 10;
			top: 50px;
		    @include transition(all 0.5s);
		}

		.footer-icon {
			position: absolute;
			right: 25px;
			top: 4px;
			width: 35px;
		    height: 35px;
		    margin-left: $margin;
		    cursor: pointer;
		    opacity: 1;
		    z-index: 5;
		    @include transition(all 0.5s);
		}
	}

	&.preloading {
		height: 100px;
	}

	&.animated {

		.footer-logo {
			position: absolute;
			left: 0px;
			@include transition(all 0.5s);
		}

		.footer-icon {
			position: absolute;
			right: 0px;
			@include transition(all 0.5s);
		}
	}
}


/*
	Modal
*/
.modal.fade {

	.information-modal {
		position: relative;
		max-width: 100vw;
		width: 100vw;
		margin: $headerTopHeight auto 0;

		.modal-title {
			width: 100%;
		}

		.modal-header-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 43px;
			line-height: 43px;
			padding: 0;
			border-bottom: none;
			width: 100%;
			background-color: $darkBlue;
			color: white;
			z-index: 10;

			.modal-close-container {
				max-width: 800px;
				margin: 0 auto;
				text-align: right;

				.modal-close-btn {
					display: inline-block;
					font-size: 15px;
					font-weight: 300;
					padding: 0 $margin;
					cursor: pointer;
				}
			}
		}

		.modal-content {
			// Fallback for browsers which don't support custom properties
			height: calc(100vh - #{ $headerTopHeight });
			height: calc( var(--vh, 1vh) * 100 - #{$headerTopHeight} );
			background-color: transparent;
			padding-top: 2*$margin;
			cursor: default;
			overflow: hidden;
			border: none;
		}

		.modal-body {
			width: 100%;
			background: $blue;
			text-align: left;
			z-index: 5;
			color: $white;

			a {
				color: $white;

				&:hover {
					color: $white;
					text-decoration: none;
				}
			}

			p > a {
				font-weight: 500;
			}

			& > div {
				max-width: 800px;
				margin: $margin auto 50px;
			}

			ol li {

				ul li {
					list-style-type: disc;
				}
			}
		}

		&.type-list {
			.modal-body {
				background-color: $darkBlue;
			}
		}
	}

	.modal-dialog {
		@include translate(0%, 0%);
	}

		&.show .modal-dialog {
		    @include translate(0%, 0%);
		}

	.modal-body {
	    @include transition(transform .3s ease-out, -webkit-transform .3s ease-out);
		@include translate(0%, 100%);
	}

	&.show .modal-body {
		@include translate(0%, 0%);
	}
}

.modal-backdrop.show {
    opacity: 0;
}


/*
	Modal content
*/
.modal {

	.nav-pills {

		.nav-item {
			padding: $padding 0;

			.nav-link {
			    font-size: 20px;
			    font-weight: 300;
			    color: $darkBlue;
			    background-color: transparent;
				padding: 0 $margin;
				border-left: none;
				border-right: none;
				@include border-radius(0px);

			    &.active {
			    	color: $white;
			    	background-color: transparent;
			    	border-right: 1px solid $white;
			    	font-weight: 400;
			    }
			}

		    &:last-child {

		    	.nav-link.active {
			    	border-left: 1px solid $white;
			    	border-right: none;
		    	}
		    }
		}
	}

	.tab-pane {
		padding: 0 $margin;
		color: $white;
		font-weight: 300;
		// Fallback for browsers which don't support custom properties
		max-height: calc( 100vh - #{ $headerTopHeight + $headerBottomHeight + 44px + 30px });
		height: calc( var(--vh, 1vh) * 100 - #{ $headerTopHeight + $headerBottomHeight + 44px + 30px } );
		overflow: scroll;
	}
}


/*
	Category modal
*/
.modal-content-description {
	width: 100%;
	height: 50px;
	padding: 0 $margin;
	font-size: 15px;
	font-weight: 300;
}

.modal-content-container {
	width: 100%;
    height: calc( 100vh - 250px );
    height: calc( var(--vh, 1vh) * 100 - 250px );
    min-height: 150px;
    overflow: scroll;

    ul {
    	list-style-type: none;
		padding: 0 $margin;
		margin: 0;

		li {
			width: 100%;
			position: relative;			

			a.surface-link {
				display: inline-block;
				width: 100%;
				font-size: 15px;
				font-weight: 300;
				margin-bottom: 2*$padding;
				curson: pointer;

				.name {
					display: inline-block;
					width: 100%;
					border-bottom: 1px solid $lightBlue;
					z-index: 5;
				}

				.chevron {
					position: absolute;
					top: 0;
					right: 0;
					width: 23px;
					height: 29px;
					background: $darkBlue url('/wp-content/themes/saumausmassavalitsin/img/position-icon.png') 0 0 no-repeat;
					background-size: 23px 29px;
					background-repeat: no-repeat;
					background-position: 100% 5px;
					z-index: 10;
				}
			}
		}
    }
}


/*
	Loader icon
*/
.loader-gif {
	text-align: center;
	margin-top: -16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;

    img {
    	width: 32px;
    }
}


/*
	Preload progress bar
*/
.preload-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	.loader {
		position: relative;
		height: 10px;
		border: none;
		background: $grey;
		overflow: hidden;
		@include border-radius(0px);
	}

	.progress-bar {
		position: relative;
		height: inherit;
		width: 0%;
		border-radius: inherit;
		overflow: hidden;
		background: $blue;
	}
}


/*
	Mobile styling
*/
@media screen and (max-width: 767px) {

	.header-top .header-logo {
	    height: 25px;
	}

	.category-container .vertical-layout-text {
	    font-size: 35px;
	    line-height: 35px;
	    margin-top: -17px;
	    text-align: left;
	    padding-left: 25px;

		.chevron {
			font-size: 35px;
		}

		&.single {
		    font-size: 35px;
		    line-height: 35px;
			bottom: 2*$padding;
		    left: 0px;
		}
	}
}

