
/* --------------------------------

Variables

-------------------------------- */

/*
	Fonts
*/
$primaryFont: 'Roboto', sans-serif;


/*
	Colors
*/
$backgroundColor: #0e2a37;
$black: #000;
$white: #fff;
$off-white: #eaeaea;
$grey: #4b4b4b;
$blue: #0791d2;
$darkBlue: #08415c;
$lightBlue: #467185;


/*
	Dimensions
*/
$maxWidth: 600px;
$headerTopHeight: 45px;
$headerBottomHeight: 43px;
$footerHeight: 60px;


/*
	Miscellaneous
*/
$padding: 10px;
$margin: 15px;
